In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
api_key="3gBEEMzNt6vFQUXU51pwSu0CABVWNYnug8hnk_F7kcUlcNMkfoIj0U12NZlrusGB1-mxc5sHFav_DxthHzEdlBTmKpTEQSBPqe3pAZHHijQWZaaX8QKaorVCKFIPXnYx"

In [3]:
s_url='https://api.yelp.com/v3/businesses/search'

In [4]:
s_headers = {'Authorization': 'Bearer %s' % api_key}

In [5]:
name_l=[]
id_l=[]
rating_l=[]
address_l=[]
phone_l=[]
review_l=[]
lat_l=[]
long_l=[]
price_l=[]
i=0
count=0

In [6]:

for i in range(20):
    #print(i)
    #print(count)
    parameters={'term':'coffee',
                'limit':50,
                'radius':40000,
                'offset':count,
                'location':'Atlanta'}
    response=requests.get(url=s_url,params=parameters, headers=s_headers)
    business_data=response.json()
    count=count+50
    for biz in business_data['businesses']:
        try:
            name_l.append(biz["name"])
            id_l.append(biz["id"])
            rating_l.append(biz["rating"])
            review_l.append(biz["review_count"])
            address_l.append(" ".join(biz["location"]["display_address"]))
            phone_l.append(biz["phone"])
            lat_l.append(biz["coordinates"]["latitude"])
            long_l.append(biz["coordinates"]["longitude"])

        except KeyError:
#             print('Skipping\n')
            lat_l.append("N/A")
            long_l.append("N/A")
            #  for biz in business_data['businesses']:
        try:
            price_l.append(biz["price"])
        

        except KeyError:
#             print('Skipping\n')
            price_l.append("N/A")

In [7]:
len(address_l)

1000

In [8]:
len(lat_l)

1000

In [9]:
biz_df= pd.DataFrame({
    'ID':id_l,
    'Name':name_l,
    'Rating':rating_l,
    'Review_Count':review_l,
    'Address':address_l,
    'Phone':phone_l,
    'Latitude':lat_l,
    'Longitude':long_l,
    'Price':price_l
})

In [10]:
biz_df.head()

,ID,Name,Rating,Review_Count,Address,Phone,Latitude,Longitude,Price
0,TSxdVJQIDR7fqPzAzlT79A,East Pole Coffee Co.,4.5,139,"255 Ottley Dr Ste 105 Atlanta, GA 30324",+14049396498,33.810810,-84.378460,$
1,6LSnmy57Q2iUO5ObbrhsBQ,Moonbird Coffee,5.0,112,"5394 Peachtree Rd Atlanta, GA 30341",+16783327280,33.892212,-84.300966,$
2,_0jwczJo5LaSo8e6liyS4Q,Brash Coffee,4.5,44,"130 W Paces Ferry Rd NW Atlanta, GA 30305",+19144093991,33.842003,-84.386072,$$
3,FVHhIm3Qgtj1xlOUuD5yXA,Ébrìk Coffee Room,4.5,320,"22 Park Pl Atlanta, GA 30303",+14043300119,33.755586,-84.388104,$
4,byuYfWgUbep6tQiH3F5Yjw,Chattahoochee Coffee Company,4.5,358,"6640 Akers Mill Rd SE Atlanta, GA 30339",+17709550788,33.896602,-84.445083,$

In [11]:
file_name="yelp_ATLAllcoffee.csv"

In [12]:
biz_df.to_csv(file_name, encoding='utf-8', index=False)