In [1]:
%run coffee_ATL.ipynb

In [2]:
from pymongo import MongoClient
import json

In [3]:
client = MongoClient("mongodb://yelpdbuser:yelpdbuser@cluster0-shard-00-00-vm3s6.mongodb.net:27017,cluster0-shard-00-01-vm3s6.mongodb.net:27017,cluster0-shard-00-02-vm3s6.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")

In [4]:
db = client.get_database('yelp_db')

In [5]:
biz_ATLdata_collection = db.Biz_ATL_data

In [7]:
biz_ATLdata_collection.count_documents({})

0

In [8]:
biz_df.head()

,ID,Name,Rating,Review_Count,Address,Phone,Latitude,Longitude,Price
0,TSxdVJQIDR7fqPzAzlT79A,East Pole Coffee Co.,4.5,139,"255 Ottley Dr Ste 105 Atlanta, GA 30324",+14049396498,33.810810,-84.378460,$
1,6LSnmy57Q2iUO5ObbrhsBQ,Moonbird Coffee,5.0,112,"5394 Peachtree Rd Atlanta, GA 30341",+16783327280,33.892212,-84.300966,$
2,_0jwczJo5LaSo8e6liyS4Q,Brash Coffee,4.5,44,"130 W Paces Ferry Rd NW Atlanta, GA 30305",+19144093991,33.842003,-84.386072,$$
3,FVHhIm3Qgtj1xlOUuD5yXA,Ébrìk Coffee Room,4.5,320,"22 Park Pl Atlanta, GA 30303",+14043300119,33.755586,-84.388104,$
4,byuYfWgUbep6tQiH3F5Yjw,Chattahoochee Coffee Company,4.5,358,"6640 Akers Mill Rd SE Atlanta, GA 30339",+17709550788,33.896602,-84.445083,$

In [9]:
biz_ATLdata_records = json.loads(biz_df.T.to_json()).values()
# biz_details_records

In [11]:
db.Biz_ATL_data.insert_many(biz_ATLdata_records)

In [13]:
print("number of biz: "+str(biz_ATLdata_collection.count()))

number of biz: 1000

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """Entry point for launching an IPython kernel.