In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
api_key="3gBEEMzNt6vFQUXU51pwSu0CABVWNYnug8hnk_F7kcUlcNMkfoIj0U12NZlrusGB1-mxc5sHFav_DxthHzEdlBTmKpTEQSBPqe3pAZHHijQWZaaX8QKaorVCKFIPXnYx"

In [3]:
s_url='https://api.yelp.com/v3/businesses/search'

In [4]:
s_headers = {'Authorization': 'Bearer %s' % api_key}

In [5]:
name_l=[]
id_l=[]
rating_l=[]
address_l=[]
phone_l=[]
review_l=[]
lat_l=[]
long_l=[]
price_l=[]
i=0
count=0

In [6]:

for i in range(20):
    #print(i)
    #print(count)
    parameters={'term':'coffee',
                'limit':50,
                'radius':40000,
                'offset':count,
                'location':'San Francisco'}
    response=requests.get(url=s_url,params=parameters, headers=s_headers)
    business_data=response.json()
    count=count+50
    for biz in business_data['businesses']:
        try:
            name_l.append(biz["name"])
            id_l.append(biz["id"])
            rating_l.append(biz["rating"])
            review_l.append(biz["review_count"])
            address_l.append(" ".join(biz["location"]["display_address"]))
            phone_l.append(biz["phone"])
            lat_l.append(biz["coordinates"]["latitude"])
            long_l.append(biz["coordinates"]["longitude"])

        except KeyError:
#             print('Skipping\n')
            lat_l.append("N/A")
            long_l.append("N/A")
            #  for biz in business_data['businesses']:
        try:
            price_l.append(biz["price"])
        

        except KeyError:
#             print('Skipping\n')
            price_l.append("N/A")

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

Skipping

In [7]:
len(address_l)

1000

In [8]:
len(lat_l)

1000

In [9]:
biz_df= pd.DataFrame({
    'ID':id_l,
    'Name':name_l,
    'Rating':rating_l,
    'Review_Count':review_l,
    'Address':address_l,
    'Phone':phone_l,
    'Latitude':lat_l,
    'Longitude':long_l,
    'Price':price_l
})

In [10]:
biz_df.head()

,ID,Name,Rating,Review_Count,Address,Phone,Latitude,Longitude,Price
0,EWhqq-gJktFyGKtouMQ8gw,Home,4.5,76,"455 Grant Ave San Francisco, CA 94108",+14157805423,37.791290,-122.405890,$
1,gk6DkRAjbVIIRq90zA6t3Q,BOAVIDA,4.5,21,"3560 Taraval St San Francisco, CA 94116",+14157026262,37.741965,-122.504468,$$
2,qZK7-7t-tK_Fc1CfcNZgqg,Snowbird Coffee,4.0,276,"1352 A 9th Ave San Francisco, CA 94122",+14155737740,37.763080,-122.465910,$
3,DaOQgNk4LjN2gbvYrLQGvA,Rise & Grind Coffee and Tea,4.5,278,"785 8th Ave San Francisco, CA 94118",+14157801579,37.773716,-122.466067,$
4,-NbDKVqG170J19MqSQ5q_A,The Mill,4.0,1123,"736 Divisadero St San Francisco, CA 94117",+14153451953,37.776480,-122.437750,$$

In [11]:
file_name="yelp_SFOAllcoffee.csv"

In [12]:
biz_df.to_csv(file_name, encoding='utf-8', index=False)