In [1]:
import pandas as pd

In [2]:
from pymongo import MongoClient
import json
from flask import jsonify

In [3]:
client = MongoClient("mongodb://yelpdbuser:yelpdbuser@cluster0-shard-00-00-vm3s6.mongodb.net:27017,cluster0-shard-00-01-vm3s6.mongodb.net:27017,cluster0-shard-00-02-vm3s6.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")

In [4]:
db = client.get_database('yelp_db')

In [38]:
biz_ATLdata_collection = db.Biz_ATL_data

In [39]:
biz_ATLdata_collection.count_documents({})

1000

In [7]:
count = biz_ATLdata_collection.find({"Rating": 1.5}).count()
count

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

5

In [46]:
location = biz_ATLdata_collection.find({},{ 'Name': 1,'Rating': 1,'Review_Count':1,'_id':0 })

In [48]:
# for l in location:
#     print(l)

In [9]:
rating_ct_atl=biz_ATLdata_collection.aggregate([
    {
        '$group': {
            '_id': '$Rating', 
            'count': {
                '$sum': 1
            }
        }
    }
])

In [10]:
print(list(rating_ct_atl))

[{'_id': 1.5, 'count': 5}, {'_id': 1.0, 'count': 5}, {'_id': 2.5, 'count': 43}, {'_id': 2.0, 'count': 21}, {'_id': 3.5, 'count': 149}, {'_id': 4.5, 'count': 274}, {'_id': 3.0, 'count': 87}, {'_id': 5.0, 'count': 118}, {'_id': 4.0, 'count': 298}]

In [11]:
rating_ct_sfo=db.Biz_SFO_data.aggregate([
    {
        '$group': {
            '_id': '$Rating', 
            'count': {
                '$sum': 1
            }
        }
    }
])

In [12]:
print(list(rating_ct_sfo))

[{'_id': 2.5, 'count': 10}, {'_id': 3.0, 'count': 39}, {'_id': 4.5, 'count': 316}, {'_id': 4.0, 'count': 405}, {'_id': 5.0, 'count': 104}, {'_id': 3.5, 'count': 126}]

In [32]:
location_output = biz_ATLdata_collection.find({},{"_id":0,"Name": 1, "Address": 1, "Latitude" :1,"Longitude": 1})

In [14]:
# print(list(location_output))

In [34]:
# for o in location_output:
#     print(o)

In [23]:
biz_USAdata_collection = db.Biz_USA_data

In [24]:
biz_USAdata_collection.count_documents({})

56382

In [35]:
rating_ct_usa=biz_USAdata_collection.aggregate([
    {
        '$group': {
            '_id': {'stars':'$stars', 'city':'$city'},
            'count': {
                '$sum': 1
            }
        }
    }
])

In [37]:
# print(list(rating_ct_usa))

In [25]:
citylist = biz_USAdata_collection.distinct('city')

In [31]:
#  citylist
count =0
for c in citylist:
    count=count+1
    
print(count)

803

In [58]:
selcitiData = biz_USAdata_collection.find({'city':'Agincourt'},{ 'city': 1,'stars': 1,'review_count':1,'_id':0 })

In [59]:
print(list(selcitiData))

[{'city': 'Agincourt', 'review_count': 5, 'stars': 2.5}]

In [ ]:
cityrating = []
for city in citylist:
    print(city)
    cityrating = biz_USAdata_collection.aggregate({
        '$match':{'city':{'$eq':'AGINCOURT'}}
    },{
      '$group':{'_id':'$stars','count':{'$sum':1}}  
    })
#     citylist.append(cityrating)